@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-one: #FF589E;
    --color-two: #8261EE;
    --color-three: #FFFFFF;
    --color-four: #F2F2FE;
    --color-small-text-one: #777;
    --color-small-text-two: #7C8FAD;
    --main-font: "Raleway", sans-serif;
}

body{
    font-family: var(--main-font);
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

::selection {
    background-color: var(--color-one);
    color: white;            
}
