/* Header */
.header {
    position: fixed;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    top: 40px;
    z-index: 999;
}

.header .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px;
    border-radius: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background: #fff;
    min-height: 40px;
}

.header .inner-header .inner-menu {
    margin: 0;
}

.header .inner-header .inner-menu ul {
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 0;
}

.header .inner-header .inner-menu ul li:first-child {
    color: var(--color-one);
}

.header .inner-header .inner-menu ul li:hover {
    color: var(--color-one);
    cursor: pointer;
}

.header .inner-header .inner-menu ul li {
    font-size: 13px;
    font-weight: 600;
}

.header .inner-header .inner-bar {
    display: none;
}

@media (max-width: 1200px) {
    .header .inner-header {
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        padding: 25px 30px;
        border-radius: 40px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        background: #fff;
        min-height: 40px;
    }
}

@media (max-width: 996px) {

    .header .inner-header .inner-menu {
        display: none;
    }

    .header .inner-header .inner-bar {
        display: block;
        font-size: 30px;
        color: #3B566E;
        font-weight: lighter;
    }
}

@media (max-width: 599px) {
    .header .col-12 {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-height: 375px) {
    .header {
        top: 0px;
    }
}

/* End Header */

/* Section 1 */
.section-1 {
    background-image: url(/assets/images/banner-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1 .inner-head {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0 30px;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
}

.section-1 .inner-head h3 {
    font-size: 35px;
    font-weight: 500;
}

.section-1 .inner-head p {
    font-size: 14px;
}

.section-1 .inner-head .button {
    border: transparent;
    padding: 10px 20px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    background-color: var(--color-one);
    transition: background-color 0.3s ease;
    font-size: 16px;
}

@media (max-height: 375px) {
    .section-1 .inner-head {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        padding: 0 30px;
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
        gap: 30px;
        margin-top: 75px;
    }
}

.section-1 .inner-head .button:hover {
    background-color: var(--color-two);
}

/* End Section 1 */

/* Section 2 */
.section-2 {
    margin-top: -220px;
}

.section-2 .inner-box {
    text-align: center;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    background-color: #fff;
    z-index: 2;
    border-radius: 20px;
    margin: 15px 0;
}

.section-2 .inner-box .inner-img {
    background-color: var(--color-two);
    border-radius: 50%;
    padding: 10px;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.section-2 .inner-box .inner-img:hover {
    background-color: var(--color-one);
    cursor: pointer;
}

.section-2 .inner-box .inner-img img {
    width: 50px;
    height: 50px;
}

.section-2 .inner-box .inner-title {
    font-size: 22px;
    font-weight: 500;
}

.section-2 .inner-box .inner-desc {
    color: var(--color-small-text);
    font-size: 14px;
}

@media (max-height: 768px) {
    .section-2 {
        margin-top: -100px;
    }
}

@media (max-height: 375px) {
    .section-2 {
        margin-top: 0px;
    }
}


/* End Section 2 */

/* Section 3,4 */

.section-3-4 {
    padding: 70px 0 0;
}

.section-3-4 .inner-sec-3-4 .inner-img {
    text-align: center;
    margin-bottom: 20px;
}

.section-3-4 .inner-sec-3-4 .inner-content {
    margin-bottom: 20px;
}

.section-3-4 .inner-sec-3-4 .inner-content h5 {
    font-size: 24px;
    margin-bottom: 40px;
}

.section-3-4 .inner-sec-3-4 .inner-content p {
    color: var(--color-small-text);
    font-size: 18px;
}


.section-3-4 .inner-sec-3-4 .margin-line {
    margin-top: 60px;
}

.section-3-4 .inner-sec-3-4 .margin-line hr {
    margin: 0;
}


.section-3-4 .padding4 {
    padding-bottom: 100px;
}

/* End Section 3,4 */

/* Section 5 */
.section-5 {
    background-image: url(/assets/images/work-process-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.section-5 .inner-head {
    text-align: center;
    margin-bottom: 50px;
}

.section-5 .inner-head h5 {
    font-size: 30px;
    color: #fff;
}

.section-5 .inner-head p {
    color: #fff;
}

.section-5 .inner-box {
    background: white;
    padding: 20px 5px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 15px 15px 0px #b388ff;
    transition: all 0.3s ease;
    margin-bottom: 30px;
}

.section-5 .inner-box:hover {
    transform: translateY(-10px);
}

.section-5 .inner-box .inner-icon {
    font-size: 30px;
    color: #8a59ff;
    object-fit: cover;
}

.section-5 .inner-box p {
    font-size: 14px;
    color: var(--color-small-text);
}

.section-5 .inner-box h6 {
    margin-top: 15px;
}

/* End Section 5 */

/* Section 6 */

.section-6 {
    background-color: var(--color-three);
    padding: 100px 0;
}

.section-6 .inner-head {
    text-align: center;
    margin-bottom: 70px;
}

.section-6 .inner-head h5 {
    margin-bottom: 20px;
    font-size: 30px;
}

.section-6 .inner-head p {
    color: var(--color-small-text);
    font-size: 16px;
    letter-spacing: 0.6px;
    line-height: 26px;
}

.section-6 .inner-body {
    display: flex;
    flex-wrap: wrap;
}

.section-6 .inner-body .col-lg-4 {
    display: flex;
}

.section-6 .inner-body .inner-box {
    flex: 1;
}

.section-6 .inner-body .inner-box {
    background-color: #fff;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    padding: 30px 20px;
    border-radius: 35px;
    margin: 15px 0;
}

.section-6 .inner-body .inner-box .inner-icon {
    text-align: center;
    margin-bottom: 20px;
}

.section-6 .inner-body .inner-box .inner-desc {
    color: var(--color-small-text);
    margin-bottom: 40px;
    letter-spacing: 0.6px;
    line-height: 26px;
    font-size: 15px;
}

.section-6 .inner-body .inner-box .inner-name-job {
    text-align: center;
    transition: all 0.3s ease;
}

.section-6 .inner-body .inner-box .inner-name-job:hover {
    transform: translateX(10px);
}

.section-6 .inner-body .inner-box .inner-name-job p {
    margin: 0;
}

.section-6 .inner-body .inner-box .inner-name-job p:last-child {
    color: var(--color-one);
}

/* End Section 6 */

/* Section 7 */
.section-7 {
    background-color: #F2F2FE;
    padding: 100px 0;
}

.section-7 .inner-head {
    text-align: center;
    margin-bottom: 70px;
}

.section-7 .inner-head h5 {
    font-size: 30px;
}

.section-7 .inner-head p {
    color: var(--color-small-text);
    line-height: 26px;
    letter-spacing: 0.6px;
    font-size: 15px;
}

.section-7 .inner-body .inner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-three);
    padding: 30px;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-bottom: 30px;
}

.section-7 .inner-body .inner-box h6 {
    font-size: 22px;
    margin-bottom: 20px;
}

.section-7 .inner-body .inner-box .price-box {
    background-color: var(--color-two);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 25px;
}

.section-7 .inner-body .inner-box .price-box h4 {
    font-size: 28px;
}

.section-7 .inner-body .row .col-lg-4:nth-child(2) .inner-box .price-box {
    background-color: var(--color-one);
}


.section-7 .inner-body .inner-box .support-items {
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
}

.section-7 .inner-body .inner-box .support-items .LineThrough {
    text-decoration: line-through;
}

.section-7 .inner-body .inner-box .button {
    text-transform: uppercase;
    color: white;
    background-color: var(--color-two);
    text-align: center;
    border: transparent;
    padding: 10px 20px;
    border-radius: 35px;
    transition: all 0.3s ease;
    font-size: 13px;
}

.section-7 .inner-body .inner-box .button:hover {
    background-color: var(--color-one);
}

/* End Section 7 */

/* Section 8 */
.section-8 {
    background-image: url(/assets/images/fun-facts-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.section-8 .inner-item {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.section-8 .inner-item strong {
    font-size: 30px;
}

.section-8 .inner-item span {
    font-size: 18px;
}

.section-8 .row .col-lg-3:nth-child(1) .inner-item::after {
    content: "";
    position: absolute;
    background-image: url(/assets/images/circle-dec.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 70%;
    height: 32px;
    top: 36px;
    left: 70%;
}

.section-8 .row .col-lg-3:nth-child(2) .inner-item::after {
    content: "";
    position: absolute;
    background-image: url(/assets/images/circle-dec.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 70%;
    height: 32px;
    top: 18px;
    left: 70%;
}

.section-8 .row .col-lg-3:nth-child(3) .inner-item::after {
    content: "";
    position: absolute;
    background-image: url(/assets/images/circle-dec.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 70%;
    height: 32px;
    top: 36px;
    left: 70%;
}

@media (max-width: 992px) {
    .section-8 .row .col-lg-3:nth-child(1) .inner-item::after {
        display: none;
    }

    .section-8 .row .col-lg-3:nth-child(2) .inner-item::after {
        display: none;
    }

    .section-8 .row .col-lg-3:nth-child(3) .inner-item::after {
        display: none;
    }
}

/* End Section 8 */

/* Section 9 */
.section-9 {
    background-color: var(--color-three);
    padding: 50px 0 100px;
}

.section-9 .inner-head {
    text-align: center;
    padding: 50px 0;
}

.section-9 .inner-head h5 {
    font-size: 30px;
    margin-bottom: 20px;
}

.section-9 .inner-head p {
    font-size: 15px;
    color: var(--color-small-text);
    line-height: 26px;
    letter-spacing: 0.6px;
}

.section-9 .inner-body .inner-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.section-9 .inner-body .inner-box .inner-img {
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    height: 200px;
    object-fit: cover;
}

.section-9 .inner-body .inner-box .inner-img img {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section-9 .inner-body .inner-box h6 {
    font-size: 18px;
    padding-top: 10px;
}

.section-9 .inner-body .inner-box p {
    font-size: 14px;
    color: var(--color-small-text);
}

.section-9 .inner-body .inner-box .button {
    text-align: center;
    width: 120px;
    border: none;
    border-radius: 35px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: white;
    background-color: var(--color-two);
    transition: all 0.3s ease;
}

.section-9 .inner-body .inner-box .button:hover {
    background-color: var(--color-one);
}

/* End Section 9 */

/*Section 10 */
.section-10 {
    background-color: var(--color-four);
    padding: 50px 0 100px;
}

.section-10 .inner-head {
    text-align: center;
    padding: 50px 0;
}

.section-10 .inner-head h5 {
    font-size: 30px;
    margin-bottom: 20px;
}

.section-10 .inner-head p {
    font-size: 15px;
    color: var(--color-small-text);
    line-height: 26px;
    letter-spacing: 0.6px;
}

.section-10 .inner-body {
    display: flex;
    flex: 1;
}

.section-10 .inner-body .inner-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-10 .inner-body .inner-content p {
    font-size: 15px;
    color: var(--color-small-text-two);
}

.section-10 .inner-body .inner-form input,
.section-10 .inner-body .inner-form textarea {
    border-radius: 20px;
    padding: 10px 20px;
}

.section-10 .inner-body .row {
    display: flex;
    align-items: stretch;
}

.section-10 .inner-body .inner-form .button {
    text-align: center;
    width: 150px;
    border: none;
    border-radius: 35px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: white;
    background-color: var(--color-two);
    transition: all 0.3s ease;
}

.section-10 .inner-body .inner-form .button:hover {
    background-color: var(--color-one);
}

/* End Section 10 */

.footer {
    background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
    padding-top: 30px;
}

.footer .inner-footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.footer .inner-footer .social li {
    background-color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .inner-footer .social li i {
    font-size: 16px;
    background: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
}

.footer .inner-footer hr {
    border: none;
    border-top: 0.2px solid rgb(255, 255, 255);
    opacity: 0.4;
}

.footer .copyright {
    margin-top: 30px;
    text-align: center;
    color: white;
    text-align: center;
}